APP_PORT=8080

DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=wms-technical-test
DB_SSL_MODE=disable

JWT_SECRET=jhASDug234jkAius23hjAh2dbh2387h

REDIS_ADDR=localhost:6379
REDIS_PASS=admin
REDIS_DB=0
REDIS_PREFIX=wms-technical-test

MARKETPLACE_API_URL=https://fullstack-technical-test.suksescorp.co.id
MARKETPLACE_SHOP_ID=shopee-123
MARKETPLACE_PARTNER_ID=992800
MARKETPLACE_PARTNER_KEY=mock-secret-partner-key